*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  margin: 0;
  border: 0;
  padding: 0;
}

section{
  height: 20vh;
}

header{
  height: 8vh;
}

.difficulty{
  font-size: 10px;
  font-style: normal;
  font-family: monospace;
}

.easy{
  color: green;
}

#Coin_Flip{
  height: 20vh;
  background-color: #2be;
}

#Coin_Output{
  display: inline;
  position: absolute;
}

#Random_Colour h1, #Colour, #Random_Colour{
  background-color: #2be;
}
