.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


.animated.flip {
  animation-duration: 0.3s;
  animation-name: flip;
  transform-origin: center;
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flip {
  0%, 100%{
    animation-timing-function: ease-out;
    transform: translate(0, 0)
      rotate3d(0, 0, 1, 0deg);
  }
  50%{
    animation-timing-function: ease-in;
    transform: translate(0,-30px)
    rotate3d(0, 0, 1, 180deg);
  }
  100%{
    transform: rotate3d(0, 0, 1, 0deg);
  }
}


@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}
