
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes flip {
  0%{
    animation-timing-function: ease-out;
    transform: translate(0, 0)
      rotate3d(0, 0, 1, 0deg);
  }
  50%{
    animation-timing-function: ease-in;
    transform: translate(0,-30px)
    rotate3d(0, 0, 1, 180deg);
  }
  100%{
    transform: translate(0, 0)
    rotate3d(0, 0, 1, 360deg);
  }
}

.animated.flip {
  animation-duration: 0.3s;
  animation-name: flip;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}
